body{
    display:flex;
    justify-content: center;
    font-family: open sans!important;
    margin: 8px!important;
}

#__next {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #6286b3;
    border-radius: 7px;
    padding:10px;
    align-items: center;
}

.contenedor{
    display:flex;
    flex-direction: column;
    padding: 30px;
    border: 1px lightgray solid;
    border-radius: 7px;
    padding-bottom: 10px;
    margin:3px;
    width: 100%;
}
.cuerpo{
    display: flex;
    margin-top: 20px;
}

.barra-lateral{
    max-width: 28%;
    padding:15px;
    background-color: #7c9eb1;
    border-radius: 7px;
    margin-bottom: 20px;
    min-width: min-content;
}

.contenedorImagen {
    width: 300px;
    margin-top:10px;
    margin-bottom:20px;
}

img{
    max-width: 100%;
}

.cuadroPrincipal{
    margin-left: 25px;
    flex-grow:1;
    display: flex;
    flex-direction: column;
}

.card2 h2 {
    background-color: #ad98c3;
    padding:8px;
    border-radius: 7px;
    margin-bottom: 1px;
    font-size: 1.5rem!important;
}

.card2 h3 {
    font-size: 1.17rem!important;
}

h1 {
    font-size: xxx-large!important;
    margin:10px!important;
    font-weight: 700!important;
    line-height: normal!important;
}

h2, h3 {
    margin-top:5px!important;
    margin-bottom:5px!important;    
}

img {border-radius: 7px;}

.card2 {
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 20px; 
    border-radius: 7px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.card2 > div {
    padding:5px;
}

.header h2{
    font-size: xx-large!important;
    margin-bottom: 10px!important;
}

.barra-lateral p, .barra-lateral h4 {
    font-size:larger;
}

.cuadroPrincipal p {
    margin-bottom: 6px;
}

.cuadroPrincipal p:last-child {
    margin-bottom: 0!important;
}

.textoLateral> div {
    margin-bottom: 8px;
}

section{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pagForm {
    display: flex;
    flex-direction: column;
}

.contenedorForm {
    display: flex;
    justify-content: space-around;
}

.contenedorForm section {
    margin:10px;
}

.btn{
    margin-top: 3px;
    margin-bottom: 3px;
}

.parrafo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top:10px;
    background-color: #f7f9fa;
    padding:20px!important;
    border-radius: 7px;
    border: 1px solid lightgray;
}

label{
    display: block!important;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.alerta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    padding:10px;
    align-items: center;
    margin-bottom: 10px;
}

.barraUsuario{
    background-color: #f7f9fa;
    border-radius: 10px;
    border: 1px solid #ebeef0;
    display: flex;
    margin-bottom: 7px;
    padding: 10px 30px;
    flex-direction: column;
    text-align: center;
}

.preLoader{
    text-align: center;
  }

  p {
    margin-block-start: 1em!important;
    margin-block-end: 1em!important;
    text-align: justify!important;
}

.botonera {
    display: flex;
    margin-bottom: 10px;
}

.botonera .btn {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.botonera .btn:first-child {
margin-left:0;
}

.botonera .btn:last-child {
    margin-right:0;
    }

.botonera img{
    width: 30px;
}

.barraGuardar{
    position:fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fa;
    padding: 5px;
    border-radius:7px;
    border: 1px solid #ebeef0;
    width: 1070px;
}

.editarCV{
    display: flex;
    justify-content: center;
    width: 100%;
}

.editarCV .layout{
    margin-bottom:50px;
}

.editarCV .card2 {
    background-color: aliceblue!important;
    margin-bottom:30px!important;
}

@media (min-width: 800px) {
.contenedor{
    min-width: 80%;
}
  }