body{
    display:flex;
    justify-content: center;
    font-family: open sans;
}

#__next {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #6286b3;
    border-radius: 7px;
    padding:10px;
    align-items: center;
}

.contenedor{
    display:flex;
    flex-direction: column;
    padding: 30px;
    border: 1px lightgray solid;
    border-radius: 7px;
    padding-bottom: 10px;
    margin:3px;
}
.cuerpo{
    display: flex;
    margin-top: 20px;
}

.barra-lateral{
    max-width: 28%;
    padding:15px;
    background-color: #7c9eb1;
    border-radius: 7px;
    margin-bottom: 20px;
    min-width: min-content;
}

.contenedorImagen {
    max-width: 90%; 
    margin:auto; 
    display: block
}

img{
    max-width: 100%;
}

.cuadroPrincipal{
    margin-left: 25px;
    flex-grow:1;
}

.card2 h2 {
    background-color: #ad98c3;
    padding:8px;
    border-radius: 7px;
}

h1 {
    font-size: xxx-large;
    margin:10px;
}

h2, h3 {
    margin-top:5px;
    margin-bottom:5px;    
}

img {border-radius: 7px;}

.card2 {
    padding: 20px;
    border: 1px solid lightgray;
    margin-bottom: 20px; 
    border-radius: 7px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card2 > div {
    padding:5px;
}

.header h2{
    font-size: xx-large;
    margin-bottom: 10px;
}

.barra-lateral p, .barra-lateral h4 {
    font-size:larger;
}

.cuadroPrincipal p:last-child {
    margin-bottom: 0;
}

.textoLateral> div {
    margin-bottom: 8px;
}

section{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pagForm {
    display: flex;
    flex-direction: column;
}

.contenedorForm {
    display: flex;
    justify-content: space-around;
}

.contenedorForm section {
    margin:10px;
}

.btn{
    margin-top: 3px;
    margin-bottom: 3px;
}

.parrafo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top:10px;
}

label{
    display: block!important;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 800px) {
.contenedor{
    min-width: 80%;
}
  }