body{
    display:flex;
    justify-content: center;
    font-family: open sans!important;
    margin: 8px!important;
    overflow-wrap: anywhere;
}

#__next {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #6286b3;
    border-radius: 7px;
    padding:10px;
    align-items: center;
}

.contenedor{
    padding-bottom: 10px;
    margin:10px;
    width: 100%;
}
.cuerpo{
    margin-top: 20px;
}

.barra-lateral{
    padding:15px;
    background-color: #7c9eb1;
    border-radius: 7px;
    width: min-content;
    height: 900px;
    margin-right:20px;
    float:left;
    min-width: 230px;
}

.editarCV .barra-lateral{
    min-width:320px;
    height: auto;
}

.contenedorImagen {
    width: 200px;
    margin-top:10px;
    margin-bottom:40px;
}

img{
    max-width: 100%;
}

.cuadroPrincipal{
    flex-grow:1;
}

.card2 h2 {
    background-color: #ad98c3;
    padding:8px;
    border-radius: 7px;
    margin-bottom: 1px;
    font-size: 1.1rem!important;
}

.card2 h3 {
    font-size: 1rem!important;
}

h1 {
    margin:10px!important;
}

img {border-radius: 7px;}

.card2 {
    padding: 15px;
    border: 1px solid lightgray;
    margin-bottom: 20px; 
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    transition: opacity 0.2s;
}

.card2 > div {
    padding:5px;
}

.header h2{
    font-size: x-large!important;
    margin-bottom: 10px!important;
}

.cuadroPrincipal p {
    margin-bottom: 6px;
    font-size:0.8rem;
}

.cuadroPrincipal p:last-child {
    margin-bottom: 0!important;
}

.textoLateral> div {
    margin-bottom: 30px;
}

section{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pagForm {
    display: flex;
    flex-direction: column;
}

.contenedorForm {
    display: flex;
    justify-content: space-around;
}

.contenedorForm section {
    margin:10px;
}

.btn{
    margin-top: 3px;
    margin-bottom: 3px;
}

.parrafo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top:10px;
    background-color: #f7f9fa;
    padding:20px!important;
    border-radius: 7px;
    border: 1px solid lightgray;
    transition: opacity 0.2s;
}

label{
    display: block!important;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.alerta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    padding:10px;
    align-items: center;
    margin-bottom: 10px;
}

.barraUsuario{
    background-color: #f7f9fa;
    border-radius: 10px;
    border: 1px solid #ebeef0;
    display: flex;
    margin-bottom: 7px;
    padding: 10px 30px;
    flex-direction: column;
    text-align: center;
}

.preLoader{
    text-align: center;
  }

  p {
    margin-block-start: 1em!important;
    margin-block-end: 1em!important;
    text-align: justify!important;
}

.botonera {
    display: flex;
    margin-bottom: 10px;
}

.botonera .btn {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    border: none;
}

.botonera .btn:first-child {
margin-left:0;
}

.botonera .btn:last-child {
    margin-right:0;
    }

.botonera img{
    width: 30px;
}

.barraGuardar{
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fa;
    padding: 5px;
    border-radius:7px;
    border: 1px solid #ebeef0;
    width: 100%;
}

.editarCV{
    display: flex;
    justify-content: center;
    width: 100%;
}

.editarCV .layout{
    margin-bottom:70px;
}

.editarCV .card2 {
    background-color: aliceblue!important;
    margin-bottom:30px!important;
    min-width: 800px;
    flex-direction: row;
}

.verCV {
    width:770px;
    margin-bottom: 50px;
}

.barra-lateral h4{
    font-size:1rem;
}

.barra-lateral p{
    font-size:0.9rem;
}

.grupo {
    flex-grow: 1;
}

.botonera.apart {
    flex-direction: column;
}

.inicial{
    opacity:0;
}

.borrado{
    opacity:0;    
}

@media (max-width: 600px) {
.contenedor{
    width:auto;
}

.editarCV .card2{
    min-width: 0;
    display: block;
}

.barra-lateral{
    float:none;
    width:auto;
    margin-right: 0;
    margin-bottom: 20px;
}

.botonera.apart {
    flex-direction: row;
}

.editarCV .layout {
    margin-bottom: 100px;
}

}

@media print {
    body {
margin: 0!important;
padding: 0!important;
    }
    .contenedor {
        margin: 0!important;
padding: 0!important;
    }

    .barraGuardar{
        display: none;
    }
  }